body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width:100%;
  overflow-x: hidden;  
  background-color:#eeeeee;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.processHover:hover > span{
  background-color:#3f50b5;
}

.colorWrap {
  background-color: lightgrey;
}

.contentWrap {
  width: 66vw;
  margin: 0 auto;
  max-width:100%; 
  padding: 24px;
}

.contentWrap86{
  width: 96vw;
  margin: 0 auto;
  padding: 24px;
}

.contentWrap100{
  width: 100vw;
  max-width:100%;   
}

.navActive{
  background-color:palegreen !important;
}


@media only screen and (max-width: 768px) {
  .contentWrap {
    width: 86vw;
    padding:12px 0;
  }
  .contentWrap86{
    width: 96vw;
    /* margin: 0 auto; */
    padding:12px 0;
  }
  .articleNav{
    padding-left:8px !important;
    padding-right:0 !important;
  }
}

.contentWrapFullWidth{
  text-align:center;
  background-color:white;
  margin: 40px 0;
  padding: 60px
}

.svgIcon{
  max-height: 600px;
}

.svgIconInline{
  height: 23px;
  vertical-align: middle;
}
